<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang chu</title>
    <link rel="stylesheet" type="text/css" href="/header.css">
</head>
<body>
<header>
    <ul class="menu">
        <li><a href="/">Trang chủ</a></li>
        <li class="account">
            <a href="javascript:void(0)">Tài khoản</a>
            <div class="dropdown-content">
                <a href="/login" id="loginLink">Đăng Nhập</a>
                <a href="/register" id="registerLink">Đăng Ký</a>
                <a href="" id="logoutLink">Đăng Xuất</a>
            </div>
        </li>
    </ul>
</header>
He thong homstay & Camping Booking
</body>
</html>

