<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Payment</title>
  <link rel="stylesheet" type="text/css" href="/header.css">
</head>
<body>
<nav>
  <div class="nav-container">
    <div class="logo">Homestay & Camping</div>
    <div class="nav-links">
      <a href="/" class="active">Trang Chủ</a>
      <a href="About">Giới Thiệu</a>
      <a href="services">Dịch Vụ</a>
      <a href="support">Hỗ Trợ</a>
      <a href="bookedroom">Đặt Chỗ</a>
      <th:block th:if="${session.loggedInUser}">
        <a href="/profile">Trang Cá Nhân</a>
        <form action="login/logout" method="post" style="display:inline;">
          <button type="submit">Đăng Xuất</button>
        </form>
      </th:block>

      <!-- Nếu chưa đăng nhập -->
      <th:block th:unless="${session.loggedInUser}">
        <a href="/login">Đăng Nhập</a>
        <a href="/register">Đăng Ký</a>
      </th:block>
    </div>
    <div class="language-dropdown">
      <select>
        <option value="vi">Việt Nam</option>
        <option value="en">English</option>
      </select>
    </div>
  </div>
</nav>
<main style="margin-top: 80px;">
  <h1>Thanh toán</h1>
  <div th:if="${service}">
    <p>Dịch vụ: <span th:text="${service.serviceName}"></span></p>
    <p>Mô tả dịch vụ: <span th:text="${service.serviceDescription}"></span></p>
    <p>Giá: <span th:text="${service.servicePrice}"></span> VNĐ</p>
    <form th:action="@{/payment/processService/{id}(id=${service.id})}" method="post" th:object="${service}">
      <label for="time">Chọn ngày đặt:</label>
      <input type="date" id="time" name="time" required>
      <button type="submit">Thanh toán</button>
    </form>
  </div>

  <div th:if="${homeStay}">
    <p>Homestay: <span th:text="${homeStay.id}"></span></p>
    <p>Giá: <span th:text="${homeStay.roomType}"></span> VNĐ</p>
    <p>Giá: <span th:text="${homeStay.location}"></span> VNĐ</p>
    <p>Giá: <span th:text="${homeStay.roomPrice}"></span> VNĐ</p>
    <form th:action="@{/payment/processHomeStay/{id}(id=${homeStay.id})}" method="post" th:object="${homeStay}">
      <button type="submit">Thanh toán</button>
    </form>
  </div>
  <div th:unless="${homeStay != null or service != null}">
    <p>Vui lòng chọn <a href="bookedroom">phòng</a> hoặc <a href="services">dịch vụ</a> để thanh toán</p>
  </div>
  </form>
</main>
</body>
</html>