<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/login.css">
    <link rel="stylesheet" type="text/css" href="/header.css">
</head>
<body>
<nav>
    <div class="nav-container">
        <div class="logo">Homestay & Camping</div>
        <div class="nav-links">
            <a href="/" class="active">Trang Chủ</a>
            <a href="About">Giới Thiệu</a>
            <a href="service">Dịch Vụ</a>
            <a href="filter">Lọc Homestay</a>
            <a href="support">Hỗ Trợ</a>
            <a href="bookedroom">Đặt Chỗ</a>
            <th:block th:if="${session.loggedInUser}">
                <a href="/profile">Trang Cá Nhân</a>
                <form action="login/logout" method="post" style="display:inline;">
                    <button type="submit">Đăng Xuất</button>
                </form>
            </th:block>

            <!-- Nếu chưa đăng nhập -->
            <th:block th:unless="${session.loggedInUser}">
                <a href="/login">Đăng Nhập</a>
                <a href="/register">Đăng Ký</a>
            </th:block>
        </div>
        <div class="language-dropdown">
            <select>
                <option value="vi">Việt Nam</option>
                <option value="en">English</option>
            </select>
        </div>
    </div>
</nav>
<th:block th:if="${session.loggedInUser}">
    <div>
        <p>Bạn đã đăng nhập. <a href="/">Trang chủ</a></p>
    </div>
</th:block>
<th:block th:unless="${session.loggedInUser}">
<div class="wrapper" style="margin-top: 70px;">
        <form id="registerForm" action="/register" method="post" class="form">
            <h1 class="title">Đăng Ký</h1>
            <div class="inp">
                <input name="username" class="input" type="text" placeholder="Username" required />
            </div>
            <div class="inp">
                <input name="password" class="input" type="password" placeholder="Password" required />
            </div>
            <div class="inp">
                <input name="confirmPassword" class="input" type="password" placeholder="Confirm Password" required />
            </div>
            <div class="inp">
                <select name="role" class="input" style="width: 400px">
                    <option value="student">Student</option>
                    <option value="parent">Parent</option>
                </select>
            </div>
            <button type="submit" class="submit">Đăng ký</button>
            <p class="footer">
                Đã có tài khoản? <a href="/login" class="link">Đăng nhập</a>
            </p>
        </form>
        <div class="banner">
            <h1 class="wel_text">HomeStay</h1>
            <p class="para"></p>
        </div>
    </th:block>
</div>
</body>
</html>
